html, body {
    height: 100%;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}



/* Weather CSS */
section#weather > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    height: 25px;
}

section#weather > div.first-day {
    height: 50px;
    padding-bottom: 10px;
}

section#weather > div > img {
    max-width: 50px;
    object-fit: contain;
}




/* TESTING */
section {
    border: 1px solid black;
    padding: 10px;
}