#!/bin/bash

# Give the system time to boot
sleep 5

# Set display (needed for GUI apps like Chromium)
export DISPLAY=:0

# Need to set USER to the correct path
PROJECT=/home/USER/MagicMirror

# --- Start Backend ---
cd $PROJECT
$PROJECT/.venv/bin/activate/python backend/main.py &

# --- Start Frontend ---
cd $PROJECT/frontend
npm start &

# Wait a bit for servers to start
sleep 5

# --- Launch browser in kiosk mode ---
chromium-browser --kiosk http://localhost:3000
